.vscode
.bit.json
.bitmap
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.next
.pnp.js
*.log
/.pnp
/build
/coverage
/node_modules
logs
node_modules
npm-debug.log*
package-lock.json
styles.min.css
yarn.lock
yarn-debug.log*
yarn-error.log*
serviceWorker.js
README.md 