main{
  position:absolute;
  top:0;bottom:0;left:0;right:0;overflow:auto;
}

input::-webkit-input-placeholder {
  color:#505050 !important;
  text-transform: lowercase !important;
  font-size: 4rem !important;
}
input:-moz-placeholder {
  color:#505050 !important;
  text-transform: lowercase !important;
  font-size: 4rem !important;
}
input::-moz-placeholder {
  color:#505050 !important;
  text-transform: lowercase !important;
  font-size: 4rem !important;
}
input:-ms-input-placeholder {
  color:#505050 !important;
  text-transform: lowercase !important;
  font-size: 4rem !important;
}

@keyframes App-logo-spin{
  from{transform:rotate(0)}
  to{transform:rotate(360deg)}
}